<!--================ Start Header Menu Area =================-->
<header class="header_area">
   <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light" id="main_navbar">
         <div class="container">
            <a class="navbar-brand logo_h" href="/">
            <img src="/img/logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
               <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                  <li class="nav-item active">
                     <a class="nav-link" href="/">Trang chủ 
                     <span class="sr-only">(current)</span>
                     </a>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                     Danh mục
                     </a>
                     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        
 
                           <% 
                            let categoryParents = category.filter(item => !item.parent_category) 
                            let categoryChilds = category.filter(item => item.parent_category)
                            let categories = categoryParents.map(parent => {
                               let childs = categoryChilds.filter(child => child.parent_category.toString() == parent._id.toString());
 
                               return {...parent._doc, childs}
                            })
                            
 
                           %>
                            <% categories.forEach(category => {%>
                            <li class="nav-item dropdown" style="margin-right: 0px">
                               <a class="dropdown-item dropdown-toggle" href="#" id="<%= category._id %>" role="button"
                                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <%= category.name %>
                               </a>
                               <ul class="dropdown-menu" aria-labelledby="<%= category._id %>">
                                  <% category.childs.forEach(child => {%>
                                     <li>
                                        <a class="dropdown-item" href=<%= '/products?page=1&category=' + child._id.toString() %>><%= child.name %></a>
                                     </li>
                                  <% }) %>
                               </ul>
                            </li>
                            <% }) %>
 
                        </li>
                     </ul>
                  </li>
 
                  <li class="nav-item " style="margin-right: 40px">
                     <a class="nav-link " style="" href="/sellers">Seller</a>
                  </li>
                  <li class="nav-item" style="margin-right: 40px">
                     <a class="nav-link" style="" href="/admin/users/user_role">Admin</a>
                  </li>

                  <li class="nav-item"  style=" display: flex; align-items: center">
                     <form class="form-inline my-2 my-lg-0" action="/products" method="get">
                       <input class="form-control mr-sm-2" 
                             name="search_name" 
                             type="text"
                             placeholder="Tên sản phẩm" 
                             aria-label="Search"
                             style="width: 30%; height: 50%; font-size: 13px;">
                       <input style="width: 30%; height: 50%; font-size: 13px;"
                             class="form-control mr-sm-2" 
                             name="search_category" 
                             type="text" 
                             placeholder="Tên danh mục" 
                             aria-label="Search">
                       <button class="btn btn-outline-success my-2 my-sm-0" style="font-size: 13px" type="submit">Search</button>
                     </form>
                   </li>
               </ul>
               <% console.log(typeof isAuthenticated) %>

               <% if ((locals.isAuthenticated)) {%>
               
               <ul class="nav-shop">
                  <li class="nav-item dropdown">
                     <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-user"></i>
                     </a>
                     <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="/bidder/profile" class="dropdown-item">
                           <i class="fas fa-wrench mr-2"></i> Tài khoản của tôi
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="/logout" class="dropdown-item">
                           <i class="fas fa-sign-out-alt mr-2"></i> Đăng xuất
                        </a>
                     </div>
                  </li>
               </ul>
               <%} else {%>
                  <ul class="nav-shop">
                     <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                           <i class="far fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                           <a href="/login" class="dropdown-item">
                              <i class="fas fa-key mr-2"></i> Đăng nhập
                           </a>
                           <div class="dropdown-divider"></div>
                           <a href="/register" class="dropdown-item">
                              <i class="fas fa-signature mr-2"></i> Đăng kí
                           </a>
                        </div>
                     </li>
                  </ul>
                  <%}%>
            </div>
         </div>
      </nav>
   </div>
</header>
<!--================ End Header Menu Area =================-->