<section class="content py-5 px-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          

          

          <div class="card">
            <div class="card-header" >
              <h3 class="card-title">Bidder nâng cấp Seller</h3>
              <button style= "float: right;
              padding: 4px 8px;
              font-size: 12px;" type="button" class="btn btn-primary upgrade_all_btn">Duyệt tất cả</button>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                        <th>Username</th>
                        <th>Ngày xin</th>
                        
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                        <tbody> 
                        
                            <% bidderRequest.forEach(function(item, i) {%>
                                <tr>
                                  <td><%= i+1 %></td>
                                  <td><%= item.bidder.user.fullName%></td>
                                  <td><%= item.dateRequestString %></td>
                                    
                                  <td>
                                      <i data-id=<%= item.bidder.user._id %> style="cursor: pointer; font-size:23px; color: #28A745; margin-right: 15px;" class="fas fa-address-book"></i>
                                      <i data-id=<%= item.bidder.user._id %> style="cursor: pointer; font-size:23px; color: #C82333" class="fas fa-check-square upgrade_btn"></i>
                                  </td>
                                </tr>
                            <%})%>
                  
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          
        </div>
        <!-- /.col -->
        <div class="col-md-6">
          
            <div class="card">
                <div class="card-header" >
                  <h3 class="card-title">Seller xuống chức Bidder</h3>
                  
                  <button style="float: right;padding: 4px 8px;font-size: 12px;" 
                          type="button" 
                          class="btn btn-danger back_all_btn">Hạ tất cả</button>
                    
                  
                  

                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <table class="table table-condensed">
                    <thead>
                        
                        
                      <tr>
                        <th style="width: 10px">#</th>
                        <th>Username</th>
                        <th>Ngày bắt đầu</th>
                        <th>Hết hạn</th>
                        <th style="width: 40px; font-size: 10px;">Tình trạng</th>
                        <th>Thao tác</th>
                      </tr>
                    </thead> 
                    <tbody> 
                        
                        <% updatedSellers.forEach(function(item, i) {%>
                          
                            <tr>
                            <td><%= i+1 %></td>
                            <td><%= item.user.fullName%></td>
                            <td><%= item.dateStartString%></td>
                            <td><%= item.fromNow%></td>
                            <td><span class="badge bg-danger"><%= item.timeOff %></span></td>
                        <td>
                            <i data-id=<%= item.user._id %> style="cursor: pointer; font-size:23px; color: #28A745; margin-right: 15px;" class="fas fa-address-book"></i>
                            
                            <i data-id=<%= item.user._id %> style="cursor: pointer; font-size:23px; color: #C82333" class="fas fa-check-square back_btn"></i>
                            
                        </td>
                      </tr>
                        <%})%>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>

