<% var rootPath = '../../../'; %>


<!DOCTYPE html>
<html lang="en">
<%- include(rootPath + 'elements/guest/header.ejs')%>

<body>
    <%- include(rootPath + 'elements/guest/navbar.ejs')%>
    <script>var isAuthenticated=<%if (locals.isAuthenticated == undefined) {%>undefined<%} else  {%><%=true%><%}%>; </script>
    
    <% 
    let { 
        name, images, priceCurrent, priceNow, priceStart, priceStep, seller, fullDes, bidders, isEnd
    } = product;
    bidders = bidders.reverse();
    let bidderWinCurr = bidders[0] || {bidder: {user: {fullName: 'Chưa có'}}}
    %>
    <div class="container my-3">
        <div class="alert alert-success hidden" role="alert">
            
        </div>
    </div>
    <div class="container ">
        <div class="alert alert-danger hidden" role="alert">
            
        </div>
    </div>
    <!-- Begin Main -->
    <main class="site-main">
        <!--================Single Product Area =================-->
        
        <div class="product_image_area">
            
            
            <div class="container">
                <div class="row s_product_inner">
                    <div class="col-lg-6">
                        <div class="owl-carousel owl-theme s_Product_carousel">
                            <div class="single-prd-item">
                                <img class="img-fluid" src="<%= images.main %>" alt="">
                            </div>
                            <% images.more.forEach(item => {%>
                                <div class="single-prd-item">
                                    <img class="img-fluid" src="<%= item %>" alt="">
                                </div>
                            <%})%>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                        <div class="s_product_text">
                            <div class="row">
                                <div class="col-8">
                                    <h3><%= name%></h3>
                                    <span>Giá hiện tại</span>
                                    <h2 id="price_current"><%= priceCurrent%> vnđ</h2>
                                    <span>Giá mua ngay</span>
                                    <h2 id="price_now" class="text-warning"><%= priceNow %> vnđ</h2>
                                    
                                    <div class="row">
                                        <div class="col-6">
                                            <span>Giá khởi điểm</span>
                                        </div>
                                        <div class="col-6">
                                            <b id="price_start"><%= priceStart %> vnđ</b>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <span>Bước giá</span>
                                        </div>
                                        <div class="col-6">
                                            <b id="price_step"><%= priceStep %> vnđ</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="text-center col-12">
                                            <span>Current winner</span>
                                        </div>
                                    </div>
                                    <div class="row align-items-center h-100">
                                        <div class="text-center col-12">
                                            <span class="text-warning"><i class="fas fa-crown fa-2x"></i></span>
                                            <h4><%= bidderWinCurr.bidder.user.fullName %></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span>Thời gian còn lại</span>
                            <h3 class="text-danger">00:01:59</h3>
                            <script>
                                // Bước giá
                                var priceDiff = 100;
                            </script>
                            <p class="text-center row">
                                <button class="price_previous btn btn-primary col-1 ml-3 mr-1" type="button">
                                    <i class="fas fa-chevron-left"></i>
                                </button>

                                <input id="bidPrice" type="text" class="price_input form-control col-4" value="<%= priceCurrent %> vnđ" />

                                <button class="price_next btn btn-primary col-1 ml-1" type="button">
                                    <i class="fas fa-chevron-right"></i></button>
                                <a id='swapHeart' class="btn btn-default unstyled-button ml-4 mt-2 add_favorite">
                                    <i class="far fa-heart text-danger fa-lg"></i>
                                </a>
                            </p>
                            <div class="product_count">
                                <%if(isEnd) {%>
                                    <a class="button primary-btn" href="javascript:void(0)">
                                        <i class="fas fa-gavel"></i>Hết hạn đấu giá
                                    </a>
                                    <a class="button primary-btn"
                                        style="background-color: yellow; border-color: black; color: black;" href="#"><i
                                            class="fas fa-money-bill-wave"></i>Hết hạn mua</a>
                                <%} else {%>
                                    <a class="button primary-btn bid_btn" href="javascript:void(0)">
                                        <i class="fas fa-gavel"></i> Đấu giá ngay
                                    </a>
                                    <a class="button primary-btn"
                                        style="background-color: yellow; border-color: black; color: black;" href="#"><i
                                            class="fas fa-money-bill-wave"></i> Mua ngay</a>
                                <%}%>
                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--================End Single Product Area =================-->

        <!--================Seller Infomation Area =================-->
        <div class="container mt-4">
            <h4>Người bán</span></h2>
            <div class="row">
                <div class="thumb col-1">
                    <img src="/img/blog/c1.jpg" alt="">
                </div>
                <div class="col-3">
                    <div class="desc">
                        <h5>
                            <a href="#"><%= seller.fullName %></a>
                        </h5>
                        <button class="btn-outline-dark">Xem thông tin</button>
                    </div>
                </div>
                <div class="col-5">
                    <div class="desc">
                        <p>Điểm đánh giá: 100</p>
                        <p class="date">Ngày tham gia: December 4, 2017 at 3:12 pm </p>
                    </div>
                </div>
            </div>
        </div>

        <!--================Seller Infomation Area =================-->


        <!--================Product Description Area =================-->
        <section class="product_description_area">
            <div class="container">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                            aria-selected="true">Mô tả</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">Danh sách đấu giá</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <p><%- fullDes %></p>
                    </div>
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    
                                    
                                    <% bidders.forEach((bidder, index) => {%>
                                        
                                        <%if(index == 0) {%>
                                            <tr>
                                                <td>
                                                    <h5><%= moment(bidder.date).format("h:mm a, dddd, Do MMMM YYYY") %></h5>
                                                </td>
                                                <td>
                                                    <h5><%= bidder.bidder.user.fullName.replace(/.{4}/, '****') %> <i class="fas fa-crown fa-lg text-warning"></i></h5>
                                                </td>
                                                <td>
                                                    <h5><%= bidder.price%> vnđ</h5>
                                                </td>
                                            </tr>
                                        <%} else {%>
                                            <tr>
                                                <td>
                                                    <h5><%= moment(bidder.date).format("h:mm a, dddd, Do MMMM YYYY") %></h5>
                                                </td>
                                                <td>
                                                    <h5><%= bidder.bidder.user.fullName.replace(/.{4}/, '****') %></h5>
                                                </td>
                                                <td>
                                                    <h5><%= bidder.price%> vnđ</h5>
                                                </td>
                                            </tr>
                                        <%}%>
                                        
                                    <%}) %>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Product Description Area =================-->

        <!--================ Start related Product area =================-->
        <section class="related-product-area section-margin--small mt-0">
            <div class="container">
                <div class="section-intro pb-60px">
                    <p>Popular Item in the market</p>
                    <h2>Top <span class="section-intro__style">Product</span></h2>
                </div>
                <div class="row mt-30">
                    <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                        <div class="single-search-product-wrapper">
                            <div class="single-search-product d-flex">
                                <a href="#"><img src="/img/product/product-sm-1.png" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">Gray Coffee Cup</a>
                                    <div class="price">$170.00</div>
                                    <div class="date text-danger">01:30:29</div>
                                </div>
                            </div>
                            <div class="single-search-product d-flex">
                                <a href="#"><img src="/img/product/product-sm-2.png" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">Gray Coffee Cup</a>
                                    <div class="price">$170.00</div>
                                    <div class="date text-danger">01:30:29</div>
                                </div>
                            </div>
                            <div class="single-search-product d-flex">
                                <a href="#"><img src="/img/product/product-sm-3.png" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">Gray Coffee Cup</a>
                                    <div class="price">$170.00</div>
                                    <div class="date text-danger">01:30:29</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                        <div class="single-search-product-wrapper">
                            <div class="single-search-product d-flex">
                                <a href="#"><img src="/img/product/product-sm-4.png" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">Gray Coffee Cup</a>
                                    <div class="price">$170.00</div>
                                    <div class="date text-danger">01:30:29</div>
                                </div>
                            </div>
                            <div class="single-search-product d-flex">
                                <a href="#"><img src="/img/product/product-sm-5.png" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">Gray Coffee Cup</a>
                                    <div class="price">$170.00</div>
                                    <div class="date text-danger">01:30:29</div>
                                </div>
                            </div>
                            <div class="single-search-product d-flex">
                                <a href="#"><img src="/img/product/product-sm-6.png" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">Gray Coffee Cup</a>
                                    <div class="price">$170.00</div>
                                    <div class="date text-danger">01:30:29</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                        <div class="single-search-product-wrapper">
                            <div class="single-search-product d-flex">
                                <a href="#"><img src="/img/product/product-sm-7.png" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">Gray Coffee Cup</a>
                                    <div class="price">$170.00</div>
                                    <div class="date text-danger">01:30:29</div>
                                </div>
                            </div>
                            <div class="single-search-product d-flex">
                                <a href="#"><img src="/img/product/product-sm-8.png" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">Gray Coffee Cup</a>
                                    <div class="price">$170.00</div>
                                    <div class="date text-danger">01:30:29</div>
                                </div>
                            </div>
                            <div class="single-search-product d-flex">
                                <a href="#"><img src="/img/product/product-sm-9.png" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">Gray Coffee Cup</a>
                                    <div class="price">$170.00</div>
                                    <div class="date text-danger">01:30:29</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                        <div class="single-search-product-wrapper">
                            <div class="single-search-product d-flex">
                                <a href="#"><img src="/img/product/product-sm-1.png" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">Gray Coffee Cup</a>
                                    <div class="price">$170.00</div>
                                    <div class="date text-danger">01:30:29</div>
                                </div>
                            </div>
                            <div class="single-search-product d-flex">
                                <a href="#"><img src="/img/product/product-sm-2.png" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">Gray Coffee Cup</a>
                                    <div class="price">$170.00</div>
                                    <div class="date text-danger">01:30:29</div>
                                </div>
                            </div>
                            <div class="single-search-product d-flex">
                                <a href="#"><img src="/img/product/product-sm-3.png" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">Gray Coffee Cup</a>
                                    <div class="price">$170.00</div>
                                    <div class="date text-danger">01:30:29</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ end related Product area =================-->
    </main>

    <!-- End Main -->

    <%- include(rootPath +  'elements/guest/footer.ejs')%>

    <%- include(rootPath + 'elements/guest/commonJs.ejs')%>

    <script src="/js/guest/detail.js"></script>

</body>

</html>