.active-item a {
    color:#384aeb !important;
}

.active-item {
    border-color:#384aeb !important;
}

.info-form {
    background: #fafaff;
    text-align: center;
    border: 1px solid #eee;
    padding: 47px 30px 43px;
    margin-bottom: 0px; }
    .info-form h4 {
      text-align: center;
      margin-bottom: 50px;
      font-size: 18px;
      line-height: 22px;
      color: #222222; }
    .info-form .name {
      padding-left: 0px; }
      @media (max-width: 767px) {
        .info-form .name {
          padding-right: 0px;
          margin-bottom: 1rem; } }
    .info-form .email {
      padding-right: 0px; }
      @media (max-width: 991px) {
        .info-form .email {
          padding-left: 0px; } }
    .info-form .form-control {
      padding: 8px 20px;
      background: #fff;
      border: none;
      border-radius: 0px;
      width: 100%;
      font-size: 14px;
      color: #777777;
      border: 1px solid transparent; }
      .info-form .form-control:focus {
        box-shadow: none;
        border: 1px solid #eee; }
    .info-form textarea.form-control {
      height: 140px;
      resize: none; }
    .info-form ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-size: 13px;
      color: #777; }
    .info-form ::-moz-placeholder {
      /* Firefox 19+ */
      font-size: 13px;
      color: #777; }
    .info-form :-ms-input-placeholder {
      /* IE 10+ */
      font-size: 13px;
      color: #777; }
    .info-form :-moz-placeholder {
      /* Firefox 18- */
      font-size: 13px;
      color: #777; }

.info-list {
  background: #fafaff;
  border: 1px solid #eee;
  padding: 47px 30px 43px;
  margin-bottom: 0px;
}

.info-list-title{
  text-align: center;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 22px;
  color: #222222;
}

.remove_btn {
  border: 1px solid #e0e0e0;
  padding: 0px 28px;
  display: inline-block;
  line-height: 32px;
  border-radius: 16px;
  font-size: 14px;
  color: #222;
  position: absolute;
  right: 0px;
  top: 14px;
}

.remove_btn:hover {
  background: #ff0000;
  border-color: #ff0000;
  color: #fff
}

.review_btn {
  border: 1px solid #e0e0e0;
  padding: 0px 28px;
  display: inline-block;
  line-height: 32px;
  border-radius: 16px;
  font-size: 14px;
  color: #222;
  position: absolute;
  right: 0px;
  bottom: 14px;
}

.review_btn:hover {
  background: #384aeb;
  border-color: #384aeb;
  color: #fff
}

.profile-pagination {
  padding-top: 25px;}
  .profile-pagination .page-link {
    border-radius: 0; }
  .profile-pagination .page-item {
    border: none; }

.profile-pagination .page-item.active .page-link {
  background-color: #766dff;
  border-color: transparent;
  color: #fff; }

.profile-pagination .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #8a8a8a;
  border: none; }

.profile-pagination .page-link .lnr {
  font-weight: 600; }

.profile-pagination .page-item:last-child .page-link,
.profile-pagination .page-item:first-child .page-link {
  border-radius: 0; }

.profile-pagination .page-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #766dff;
  border-color: #eee; }